html { font-size: 22px; }
body { padding: 1rem; }

.card {
  color: white;
  padding: 1rem;
  height: 4rem;
  font-size: 4rem;
  text-align: center;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

.bg-color2, .bg-color4 {
    background-color: #2B8EAD;
}

.bg-color1, .bg-color8 {
    background-color: #6F98A8;
}

.bg-color6, .bg-color7 {
    background-color: #BFBFBF;
}

.bg-color3, .bg-color5, .bg-color9 {
    background-color: #2F454E;
}

.button {
    border-radius: 4px;
    background-color: #72C3DC;
    display: inline-block;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    box-shadow: 0 4px #2B8EAD;
    color:white;
    border:1px transparent
}

.action-buttons {
  margin: 20px;
  text-align: center;
}